@font-face {
	font-family: 'Inter Regular';
	src: url('../fonts/inter_regular.eot'); /* IE 9 Compatibility Mode */
	src: url('../fonts/inter_regular.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('../fonts/inter_regular.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/inter_regular.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('../fonts/inter_regular.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../fonts/inter_regular.svg#inter_regular') format('svg'); /* Chrome < 4, Legacy iOS */
}

@font-face {
	font-family: 'Inter Bold';
	src: url('../fonts/inter_bold.eot'); /* IE 9 Compatibility Mode */
	src: url('../fonts/inter_bold.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('../fonts/inter_bold.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/inter_bold.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('../fonts/inter_bold.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../fonts/inter_bold.svg#inter_bold') format('svg'); /* Chrome < 4, Legacy iOS */
}

@font-face {
	font-family: 'Inter Black';
	src: url('../fonts/inter_black.eot'); /* IE 9 Compatibility Mode */
	src: url('../fonts/inter_black.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('../fonts/inter_black.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/inter_black.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('../fonts/inter_black.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../fonts/inter_black.svg#inter_black') format('svg'); /* Chrome < 4, Legacy iOS */
}